@page
@model ItRental.Web.Pages.EquipmentsModel
@{
    ViewData["Title"] = "Udstyr";
    Layout = "_Layout";
}

<h2>Oversigt over IT-udstyr</h2>
<div class="content">
    <table>
            <tr>
                <th>Navn</th>
                <th>Kategori</th>
                <th>Antal</th>
                <th>Rediger</th>
            </tr>
        <tbody>
            @{
                foreach (Equipment equipment in Model.Equipments)
                {
                    <tr>
                        <td>@equipment.Name</td>
                        <td>@equipment.Category</td>
                        <td>@equipment.Units</td>
                        <td>
                            <a href=""><i class="fa fa-edit" aria-hidden="true"></i></a>&nbsp;&nbsp;<a href=""><i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <br />
    <br />
    <h2>Opret nyt IT-udstyr</h2>
    <div class="form">
        <form asp-page="Equipments">
            <label asp-for="Equipment.Name"></label>
            <input asp-for="Equipment.Name" />
            <label asp-for="Equipment.Category"></label>
            <input asp-for="Equipment.Category" />
            <label asp-for="Equipment.Units"></label>
            <input asp-for="Equipment.Units" />
            <button type="submit">Opret</button>
        </form>
    </div>
</div>

