@page
@model ItRental.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Velkommen";
    Layout = "_Layout";
}

<h2>AspIT Nordjyllands IT-udlånsside</h2>
<p>Velkommen til AspIT Nordjyllands side for udlån og aflevering af IT-udstyr. Her er det muligt at håndtere lånere, IT-udstyr samt registrering af udlån/aflevering af IT-udstyr.</p>
<h3>Vi har: @Model.Open</h3>
<table>
    <tr>
        <th>Dag</th>
        <th>Åbningstider</th>
        <th>Lukketider</th>
    </tr>
    <tbody>
        @{
            foreach (OpeningHours openingHour in Model.OpeningHoursInfo.OpeningHours)
            {
                <tr>
                    <td>@openingHour.Day</td>
                    <td>@openingHour.OpeningHour</td>
                    <td>@openingHour.ClosingHour</td>

                </tr>
            }
        }
    </tbody>
</table>